# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
sw.js

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Data
data/

# Jetbrains product
.idea/

# Virtual environment
venv/

# Web generated
web/dist/

